
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
}
.container{
    height: 100vh;
   
}
.main-container{
    overflow-y: scroll;
    height: 100%;
    
}
.navbar-menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-family: "Adobe Clean serif";
    overflow: hidden;

    
}
.logo h1{
    font-weight:normal;
}
label #close{
    position: fixed;
    right: 0;
    top: 30px;
    font-size: 2rem;
    z-index: 110;
}
label #btn{
    right: 20px;
    top: 30px;
    font-size: 2rem;
    z-index: 10;
}
input[type="checkbox"]{
    display: none;
}
.item{
    margin-top: 30px;
}
.item a{
    display: block;
    padding: 5px;
    font-size: 2rem;
    text-decoration: none;
    color: #012B55;
}
label #close{
    display: none;
}
#check:checked ~ .main{
    left: 0;
}
#check:checked ~ .container{
    overflow: hidden;
}
#check:checked ~ label #btn{
    display: none;
}
#check:checked ~ label #close{
    display: block;
}
.main{
    position:fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow:scroll; 
    z-index: 100;
    font-family: "Adobe Clean UX";
    
}

.nav-items{
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: #fff;
    padding: 0 20px;
    overflow-y: scroll;
}
.item.last a{
    margin-bottom: 30px;   
}
.first{
    margin-top: 60px;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    font-family: "Adobe Clean serif";
}
.footer.tablet{ display: none;}
.footer{
    width: 100%;
    height: 20%;
    border: solid 1px #e6e5e5a8;
    background-color: #fff;
    border-radius: 0 0  5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer i{
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #E6E9EE;
    font-size: 2rem;
    cursor: pointer;
}
.footer :nth-child(2){
    margin: 0 40px;
}

/* main section */
.main-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.top-text{
    width: 100%;
    height: 230px;
    background-color: #F7F8F9;
    text-align: center;
    font-size: 1.2rem;
    padding: 32px 50px;
    line-height: 1.8;
    color: #395173;
    font-weight: 600;
    font-family: "Adobe Clean serif";
}
.note{
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #3951739c;
    font-family: "Adobe Clean serif";
}
.main-links{
    padding: 5px 0 ;
}
.link{
    position: relative;
    width: 100%;
    height: 204px;
    cursor: pointer;
    padding: 5px 0 ;
}
.link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012b55d0;
    opacity: 0;
    font-family: "Adobe Clean"; 
}
.title-text{
    text-align: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: #fff;
    width: 100%;
    transition: all .3s;  
}
.date{
    font-size: 1.4rem;
    font-style: italic;
}
.des{
    font-size: 1.8rem;
    font-weight: 500;
}
.link:hover .title{
    opacity: 1;
}
.main-footer{
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-items i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #E6E9EE;
    text-align: center;
    margin: 20px 0;
    font-size: 1.4rem;
    color: #395173;
}
.footer-text{
    font-size: 1.4rem;
    color: #395173c5; 
}
.up{ 
    display: none;
}
   

/* media querry tablet */

@media (min-width: 600px) {
    .container{
        height: auto;
       
    }
    .main-container{
        display: flex; 
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
    }
    label #btn{
        display: none;
    }
    .logo h1{
        font-weight:normal;
        font-size: 2rem;
        font-family:"Adobe Clean serif";
        font-weight: 600;
        color: #012B55;
        
    }
    .navbar-menu{
        width: 30%;
        align-items: flex-start;
        height: 100%;
        padding-top: 42px;
        padding-left: 32px;
        padding-right: 45px;
    }
    .main{
        position: absolute;
        display: block;
        top: 120px;
        left: 0;
        width: 30%;
        height: 100%;
        padding-left: 30px;
        padding-right:18px;
        overflow: hidden;
        font-family:"Adobe Clean" ;
    }
    .nav-items{
        width: 100%;
        height: 100%;
        text-align: left;
        background-color: transparent;
        padding: 0px;
        overflow: hidden;
        margin-top: 0px;
    }
    .main-text{
        display: flex;
        width: 70%;
        overflow: auto;
        padding: 0 10px;
        overflow: hidden;
    }
    .item{
        margin-top: 0px;
        margin-bottom: 5px;
    }
    .item a{
        display: block;
        padding: 4px;
        font-size: 1.5rem;
        text-decoration: none;
        color: #012B55;
    }
    .item.last a{
        font-size: 1.8rem;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .footer{
        display: none;
        width: 100%;
        border: none;
        border-radius: 0 ;
        padding: 10px 0px;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        background-color: transparent;

    }
    .footer i{
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        background-color: #E6E9EE;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .footer :nth-child(2){
        margin: 0 5px;
    }
    .footer.tablet{ 
        display: block;
        color: #012B55;
    }
    .top-text{
        height: 400px;
        width: 100%;
        padding: 40px;
    
    }
    .main-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 5px;
        gap: 3px;
    }
    .link{
        position: relative;
        width: 49.5%;
        height: 125px;
        cursor: pointer;
        padding: 0 ;
    }
    .main-footer{
        height: 100px;
        width: 100%;
        display: block;
        align-items: center;
        flex-direction: column;
    }
    
    .top-text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.4rem;
        font-family: "Adobe Clean serif";
        font-weight: 400;
    }
    .top-text p{
        width: 90%;
        color: #012B55;
        font-size: 2rem;
    }
    .main-text .note{
        font-size: 1.4rem;
        margin-top: 20px;
        color: #3951739c;
        font-family:"Adobe Clean" ;
    }
    .main-footer{
        height: auto;
        display: flex;
        margin-top: 0px;
        padding: 30px 0;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .main-footer .footer-text{
        font-size: 1.6rem;
        color: #395173cc;
        margin-top: 10px;
        font-family:"Adobe Clean" ;
    }
    .footer-items i{
        color: #012B55;
    }
    .title-text .des{
        font-size: 2.2rem;
        font-weight: 600;
    }
    .up{
        display: block;
        position: fixed;
        bottom: 30px;
        right: 10px;
        font-size: 2rem;
        color: #395173;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #cccccc5e;
        border-radius: 5px;
        cursor: pointer;
    }
    .up:hover{
        background-color: #cccccc;
    }
   
}
@media (min-width: 900px) {
    .navbar-menu{
        width: 33%;
        padding-left: 63px;
    }
    .nav-items{
        padding-left: 16px;
    }
    .main-text{
        width: 80%;
        padding: 0;
    }
    .top-text{
        height: 430px;
        width: 100%;
    }
    .link{
        position: relative;
        width: 49.5%;
        height: 230px;
        cursor: pointer;
        padding: 0 ;
    }
    .title-text .des{
        font-size: 2.5rem;
        font-weight: 500;
    }
    .main{
        position: absolute;
        display: block;
        top: 100px;
        left: 0;
        width: 30%;
        height: 100%;
        padding-left: 42px;
        padding-right: 40px;
        overflow: hidden;
        
    }
    .main-text{
        padding-right: 20px;
    }
    .top-text p{
        width: 80%;
        color: #012B55;
        text-align: center;
        font-size: 2.8rem;
    }
    .top-text .note{
        font-size: 1.8rem;
    }
    .up{
        bottom: 30px;
        right: 0px;
      
    }

}


